.side-nav-container {
    color: var(--white);
    padding: 2rem;
    display: none;
}
.side-nav-container .side-nav-main-item {
    display: flex;
    justify-content: center;
    width: 3rem;
    margin-bottom: 3rem;
}
.side-nav-container .side-nav-main-item a {
    color: var(--darkGray);
    font-size: 2rem;
}

@media (max-width: 761px) {
    .side-nav-container {
        display: block;
    }
}
