
.side-nav-container{
    background: var(--darkGray);
    color: #ffffff;
    padding: 2rem;
}
.side-nav-container .side-nav-main-item {
    display: flex;
    justify-content: center;
    width: 3rem;
    margin-bottom: 3rem;
}
.side-nav-container .side-nav-main-item a {
    color: #ffffff;
    font-size: 2rem;
}