.main-header-container {
    box-shadow: 0rem 0.5rem 0.5rem -0.2rem #262525;
    background: var(--darkGray);
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger-options {
    display: none;
}

.links a{
    color: var(--appBlue);
}

.main-header-container .main-header-user-container {
}

.main-header-container .main-header-links-container {
}

.spacing {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.6rem;
}

/* styling for mobile */
@media (max-width: 761px) {
    .links {
        display: none;
    }

    .hamburger-options {
        display: block !important;
        color: var(--appBlue);
    }
}
