.main-header-container {
    background: var(--appBlue);
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 5;
    opacity: .9;
}

.hamburger-options {
    display: none;
}

.links a{
    color: var(--white);
    font-weight: bold;
}

.main-header-container .main-header-user-container {
}

.main-header-container .main-header-links-container {
}

.spacing {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.6rem;
}

/* styling for mobile */
@media (max-width: 761px) {
    .links {
        display: none;
    }

    .hamburger-options {
        display: block !important;
        color: var(--darkGray);
        font-size: 2rem;
    }
}
